body {
  background-image: url("307911485_3ca35983c1_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

table {
    border-collapse: collapse;
    width: 800px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
  padding: 10px;
}

p {
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.backdrop {
  background-color: rgba(0,0,0,0.4);
}

.data {
  cursor: pointer;
}

.form-group {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group > input {
  height: 40px;
  width: 75%;
  border-radius: 1px 1px 1px 1px;
}

.form-group > button {
  width: 20%;
}

.gif {
  position: absolute;
  display: hidden;
  z-index: 2;
}

.gif-wrapping-div {
  width: 820px;
  background-color: white;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

.map {
  margin-bottom: 10px;
}

.parent-div {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.polygon-buttons > button {
  height: 50px;
  width: 100px;
}

.selected {
  font-weight: bold;
}
