h3 {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

li {
  cursor: pointer;
  font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 800px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
  padding: 10px;
}

p {
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.map {
  margin-bottom: 10px;
}

.selected {
  font-weight: bold;
}

.data {
  cursor: pointer;
}

.parent-div {
  width: 800px;
  margin: 0 auto;
}

.form-group {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group > input {
  height: 40px;
  width: 75%;
  border-radius: 1px 1px 1px 1px;
}

.form-group > button {
  width: 20%;
}
